html,
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-sherif;
}


nav {
  display: flex;
}


/*header---------------------------------*/

.presentation{
  background: #1f2937;
  margin: 0px;
  padding: 20px 150px 120px 150px;
}

.header-logo {
  text: 25px;
  color: #f9faf8;
  font-weight: extra-bold;
  flex: 1;
}

.header-link{
  text: 18px;
  color: #e5e7eb;
  padding: 10px;
  text-decoration: none;
}

.header-info-image {
  padding: 150px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.header-info {
  display: inline-block
}

.header-info h1 {
  text:48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.header-info p {
  text: 18px;
  color: #e5e7eb;
}

.header-info a {
  background: #3882f6;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 5px;
  color: #e5e7eb;
}

.header-info-image img {
  display: inline-block;
  width: 500px;
}


/*Info-----------------------------------*/

.some-random-info{
  text-align: center;
}

.some-random-info h2{
  text: 36px;
  font-weight: extra-bold;
  color: #1f2937;
}

.items-of-information {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.items-of-information img {
  width: 200px;
  border-radius: 20px;
}

/*Quote-----------------------------------*/

.random-quote {
  background: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 400px;
  font-weight: normal;
}

.random-quote em {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1f2937;
}

.random-quote p {
  font-weight: bold;
  align-self: flex-end;
}

/*Call to action-----------------------------------*/

.call-to-action {
  margin: 100px;
  padding:50px;
  background: #3882f6;
  border-radius: 5px;
  color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.call-to-action h3,
.call-to-action p {
  margin: 0px; 
}

.call-to-action a {
  background: #3882f6;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 5px;
  border: 2px solid white;
  color: #e5e7eb;
}


/*footer-----------------------------------*/


footer {
  background: #1f2937;
  text-align: center;

  text: 18px;
  color: #e5e7eb;
  padding: 10px;
}

